<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

<br>

<h2>Edit Landmark</h2>
<form action="/landmarks/<%= @landmark.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH" />
    <label for="name">Name</label>
    <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>" />

    <label for="year_completed">Year</label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" />

    <h3>Figures</h3>
    <% @figures.each do |figure| %>
        <input type="radio" id="figure_<%= figure.id %>" name="landmark[figure_id]" value="<%= figure.id %>" <%= 'checked' if @landmark.figure_id == figure.id %> /> <%= figure.name %><br />
    <% end %>

    <h3>Create New figure</h3>
    <label for="figure_name">Name</label>
    <input type="text" id="new_figure" name="figure[name]" />

    <input type="submit" id="edit_landmark" value="Edit Landmark" />
</form>